<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Login</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="full-center">

<div class="login-container">
    <h1>Welcome!</h1>
    <h3>Create account or log in:</h3>

    <form method="post" action="/login">
        <input name="firstName" type="text" placeholder="First Name" required>
        <input name="lastName" type="text" placeholder="Last Name" required>
        <input name="email" type="email" placeholder="Email" required>
        <input name="password" type="password" placeholder="Password" required>
        <button class="login-btn" type="submit">Continue</button>
    </form>

    <p th:if="${param.error}" class="error">Something went wrong.</p>
</div>

</body>
</html>
